<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
    <title>Login</title>
</head>
<body>
    <img src="{{ url_for('static', filename='donlogo.jpg') }}">
    <h1>Welcome to the Don College Bulletin Board Viewer, please login!</h1>
    <h2><a href="/changelog">Changelog</a></h2>
    {% if error %}
    <p style="color: red; position: absolute; top: 25%; left: 30%;">{{ error }}</p>
    {% endif %}
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="password" placeholder="Password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
</body>
</html>
